/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=BenchNine:wght@300;400;700&family=Righteous&family=Zen+Kaku+Gothic+New:wght@300;400;500;700;900&display=swap');
/* Grid */
.layout {
  /* Set your own grid   */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 3px;
    grid-row-gap: 3px;
    }
    
    .weather { grid-area: 2 / 1 / 3 / 3; }
    .time { grid-area: 1 / 1 / 2 / 2; }
    .date { grid-area: 1 / 2 / 2 / 3; }
    
 /* HTML */
    html {
      /* font-size: calc(60% + 0.8vmin); */
    } 

    main {
      max-width: 40rem;
      margin: 0 auto;
    }

/* Widgets */
body{
  display: flex;
 
  /* justify-content: center; */
  
  background-color: black;
  font-family: 'Zen Kaku Gothic New';
}


section {
text-align: center;
  background-color: white;
padding: 6px;
 text-transform: uppercase;
line-height: 2rem;
border-radius: 40px;
min-width: 30vmax;
width: auto;
text-align: center;  
color: black;
height: auto;
    overflow: hidden;
  

  
  /* Relative Parent. Absolute Child */
  position: relative;
}




h1 {
font-family: 'Righteous';
line-height: 0%;
}

/* Time */
.time {
display: none;
  font-weight: 500;
  font-size: 1.75em;
}

.hours {

}

.minutes {
}

.seconds {
}

.amOrPM {
font-weight: 900;
}

/* Date */
.date {
  display: flex;
  flex-direction: column;
align-items: center;
  font-weight: 500;

}

.month {
color: #00249e;
justify-content: space-around;
font-size: 4vw;
}

.dayOfMonth {
font-size: 15vw;

color: #eb3402;
font-weight: 100;
line-height: 10vw;
}

.year {
  color: #00249e;
font-size: 4vw;
font-weight: 300;
}

.dayOfWeek {
color: #fc1577;
font-size: 4.75vw;
}



/* Weather */
.weather {
  display: none;

 font-weight: 500; 
 font-size: 1.75em;
}

.city {
  
}

.temp {
  
}

.weather img {

}
