/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@300;400;500;700;900&display=swap');

/* Grid */
.layout {
  /* Set your own grid   */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 3px;
    grid-row-gap: 3px;
    }
    
    .weather { grid-area: 2 / 1 / 3 / 3; }
    .time { grid-area: 1 / 1 / 2 / 2; }
    .date { grid-area: 1 / 2 / 2 / 3; }
    
 /* HTML */
    html {
      font-size: calc(60% + 0.8vmin);
    } 

    main {
      max-width: 40vw;
      margin: 0 auto;
    }

/* Widgets */
body {
  background-color: #1D1F20;
 
  background-image: url("/assets/austen-frostad-5MkmD7n7tJ4-unsplash.jpg");
background-size: cover;
/* background-repeat: no-repeat; */
background-position: top;
font-family: 'Zen Kaku Gothic New', sans-serif;
}


section {
  display: flex;
text-align: center;
  background-color: rgba(255, 255, 255, 0.748);

  padding: 2ch;

 text-transform: uppercase;
border-top: 2px solid rgb(255, 255, 255);
border-bottom: 2px solid rgb(255, 255, 255);

border-radius: 15px;


 justify-content: space-evenly;
color: black;
    overflow: visible;
  

  
  /* Relative Parent. Absolute Child */
  position: relative;
}



h1 {

}

/* Time */
.time {
  flex-wrap: wrap;
  
  font-weight: 300;
  font-size: 4vw;

  height: min-content;

}

.hours {
  color: #8b0f32;


}

.minutes {
  color: #008080;


}

.seconds {
  color: #174950;
min-width: 58px;
}

.amOrPM {
  color: #8b0f32;
font-weight: 300;

}

/* Date */
.date {
  display: flex;
  flex-direction: column;
  width: min-content;
  height: min-content;
  font-weight: 400;

}

.month {
color: #174950;

font-size: 3vw;
}

.dayOfMonth {
font-size: 15vw;
color: #008080;
font-weight: 300;
line-height: 10vw;
}

.year {
  color: #8b0f32;
font-size: 3vw;
font-weight: 300;
}

.dayOfWeek {
color: #8b0f32;
font-weight: 500;
font-size: 5vw;
}



/* Weather */
.weather {
flex-direction: row;
flex-wrap: wrap;
width: min-content;
height: min-content;
 font-weight: 500; 
 font-size: 3vw;
overflow: auto;
}

.city {
 color: #8b0f32;
font-weight: 500;
text-align: center;
width: 100%;
font-size: 5vw;
}

.temp {
 color: #008080;
 width: 100%;
 font-size: 8vw;
font-weight: 300;
line-height: 10vw;
}

span {
color: #174950;
font-size: 1.95vw;

font-weight: 500;
width: 100%;
}

.weather img {
max-width: fit-content;
}
